.overdue{
    color: rgba(82, 94, 106, 0.7);
    margin-top: 20px;
}
.T{
    margin-top: 50px;
    width: 60%;
    margin-left: 20%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
