#root {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -100;
}

.image2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/image.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 calc(100% - 80px), 0% calc(100% - 60px));
    border-radius: 50% / 0% 0% 0% 0%;
}
.signin-box {
    width: 380px;
    height: 350px;
    margin-top: 130px;
    margin-left: 480px;
    background-color:rgba(82, 94, 106, 0.7);
    border-radius: 15px;
  }
  h1 {
    text-align: center;
    padding-top: 15px;
    width: 280px;
    margin: 0 auto;
    color: white;
  }

  form {
    width: 280px;
    margin: 0 auto;
  }
  form label {
    display: flex;
    margin-top: 10px;
    font-size: 18px;
    width: 280px;
    color: white;
  }
  input[type="text"], input[type="password"] {
    width: 280px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    font-size: 15px;
  }


  input[type="button"] {
    width: 280px;
    height: 30px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 1);
    color: #49c1a2;
    font-size: 18px;
  }
  button[type="signin"] {
    background-color: rgba(113, 199, 46, 1);
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    
  }
  .action{
    display: flex;
    justify-content: center;
  }
  p {
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    width: 280px;
    margin: 0 auto;
  }
  .para-1 {
    text-align: center;
    color: white;
    font-size: 19px;
    margin-top: 10px;
  }
  .para-1 a {
    color: rgba(113, 199, 46, 1);
  }


