#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px; 
    height: 0px; 
    
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    z-index: -1;
    background-image: url("../assets/welcome.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 calc(100% - 80px), 0% calc(100% - 60px));
    border-radius: 50% / 0% 0% 100% 0%;
  }
    
  .text {
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: rgba(82, 94, 106, 1);
    font-size: 45px;
    align-items: bottom;
    justify-content: flex-start;
  }
  
  .buttons {
    position: absolute;
    top: 20px;
    right: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  
  .sign_up-button,
  .sign_in-button {
    margin-top: 10px;
    margin-right: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 110px;
  }
  
  .sign_up-button {
    color: white;
    background-color: rgba(113, 199, 46, 0.9);
  }
  
  .sign_in-button {
    color: #ffffff;
    background-color: rgba(46, 162, 199, 1);
  }
